<%= render "user/navbar" %>

<h1 class="text-5xl mb-10">Marketplace</h1>

<% @listings.each do |listing| %>
<div class="grid grid-flow-col-dense">
    <%= link_to listing, class: "flex flex-col items-center" do %>
        <%= image_tag listing.pictures[0], class: "w-72" %>
        <p><%= listing.title %></p>
    <% end %>
</div>
<% end %>