<nav class="flex items-center justify-between bg-slate-900 p-2.5 text-white text-lg">
    <%= link_to root_path, class: "group flex items-center" do %>
        <%= image_tag 'logo.svg', class: "w-12" %>
        <h1 class="group-hover:opacity-80 text-2xl">Quick<span class="text-cyan-300">Cuts</span></h1>
    <% end %>
</nav>