<%# Navbar %>
<%= render 'navbar' %>

<div class="flex mt-14 flex-col">
    <h1 class="text-3xl mb-20 ml-20">Welcome to QuickCuts, <%= current_user.first_name %></h1>
    <div class="flex justify-evenly md:-ml-5 text-lg">
        <div>
            <h3>Next Appointments</h3>
            <%#= Upcoming reservations %>
        </div>
        <div>
            <h3>Past Appointments</h3>
            <%#= Past reservations %>
            <%# Allow user to leave review on appointment
            even if they are a barber %>
        </div>
    </div>
</div>